body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.content {
    padding: 10px;
    display: block;
}
.content-head {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
.button {
    background-color: #1C55A2;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    border-color: #0E0E0F;
    border-width: 1.5px;
}
.button a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}
#feedback-button {
    margin-top: 10px;
}
#feedback-button-section {
    text-align: center;
}
#bgimg {
    position: fixed;
    z-index: -1;
    /* opacity: 0.1; */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
}
.centered-head {
    text-align: center;
    color: #000066;
    font-weight: bold;
    font-size: 50px;
    position: relative;
    top: 50px;
}
.label-item {
    color: white;
    font-weight: bold;
}
.detail-container {
    padding-bottom: 10px;
    padding-top: 10px;
}
.text-input {
    margin-top: 5px;
    border-color: #1C55A2;
    border-width: 1.5px;
    border-radius: 15px;
    width: 55%;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    opacity: 0.9;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(35,55,203,1) 100%);
    font-size: 30px;
}
.select-input {
    margin-top: 5px;
    border-color: #0E0E0F;
    border-width: 1.5px;
    border-radius: 15px;
    width: 55%;
    height: 40px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(35,55,203,1) 100%);
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
#form-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 10%;
}
#block1 {
    display: block;
    width: 50%;
    padding: 20px;
}
#block2 {
    display: block;
    width: 50%;
    padding: 20px;
}
#review {
    height: 100px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#submit-button {
    text-align: center;
    align-items: center;
    display: block;
    
}
#submit {
    background-color: #1C55A2;
    color: aliceblue;
    font-weight: bold;
    position: relative;
    left: 300px;
    bottom: 110px;
    width: 150px;
}

#submit:hover {
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.choose-item {
    font-weight: 600;
}

input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

.alert-text {
    color: rgb(255, 79, 47);
    font-size: small;
    padding-left: 10px;
    display: none;
}

